{% extends "index.html" %}

{% block content %}
<p>{{ terms | length }} tags in total</p>
<ul>
{% for tag in terms %}
<li><a href="{{ tag.permalink }}">{{ tag.name }}</a> (<span class="count">{{ tag.pages | length }})</li>
{% endfor %}
</ul>
{% endblock content %}
