body {
  margin: 20px;
  max-width: 900px;

  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

pre {
  background: #efefef;
  padding: 5px;
  overflow: auto;
}

p {
  line-height: 1.35em;
}

footer {
  font-family: sans-serif;
  border-top: 1px solid #aaa;
  background-color: #eee;
  padding-left: 10px;
  padding-right: 10px;
  padding: 5px;
}

header {
  font-family: sans-serif;
  display: flex;
  border-bottom: 1px solid #aaa;
  background-color: #eee;
  padding-left: 10px;
  padding-right: 10px;
}

header h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

header nav {
  margin: auto;
  margin-right: 0px;
  margin-bottom: 15px;
}

header h1 {
  font-size: 2.5em;
}

a {
  color: DarkBlue;
}

a:hover {
  background-color: #eee;
}

a:visited:hover {
  color: #444;
}

article h1 {
  margin-bottom: 5px;
}

article p.article-metadata {
  margin-top: 5px;
  color: #444;
}

nav a.next {
  float: right
}

