{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <title>{% block title %}{{ config.title }}{% endblock title %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") }}">
      {% block css %}
      <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) }}">
      {% endblock css %}
    </head>
    <body>
      <header>
        <h1><a href="{{ config.base_url }}">{{ config.title }}</a></h1>
        <nav>
        {% for item in config.extra.menu %}
          <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">{{ item.name }}</a>
          {% if not loop.last %} | {% endif %}
        {% endfor %}
        </nav>
      </header>
      <main>
      {% block content %}
        {% for page in paginator.pages %}
        <article>
          {{ macros::header(page=page) }}
          <p>{{ page.summary | safe }}</p>
          <p><small><a href="{{ page.permalink }}">Read more...</a></small></p>
        </article>
        {% endfor %}
      {% endblock content %}
      </main>
      <footer>
      {% block footer %}
        <nav>
          {% if paginator.previous %}
          <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
          {% endif %}
          {% if paginator.next %}
          <a class="next" href="{{ paginator.next }}">Next ›</a>
          {% endif %}
        </nav>
      {% endblock footer %}
      </footer>
    </body>
</html>
