{% macro header(page) %}
<h1>{{ page.title }}</h1>
<p class="article-metadata">
  <small>
    <time>Posted on {{ page.date | date(format="%F") }}</time>{% if page.extra.authors %} by {% for author in page.extra.authors %}{{ author }}{% endfor %}{% endif %}{% if page.taxonomies.tags %}<span class="tags">,
      Tags:
      {% for tag in page.taxonomies.tags %}
        <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">#{{ tag }}</a>
      {% endfor %}
    </span>
    {% endif %}
  </small>
</p>
{% endmacro header %}
