{% extends "index.html" %}

{% block title %}{{config.title}} - {{page.title}}{% endblock title %}

{% block content %}
<article>
    {{ macros::header(page=page) }}
    {{ page.content | safe }}
</article>
{% endblock content %}

{% block footer %}
{% if page.earlier or page.later %}
<nav>
    {% if page.earlier %}
    <a class="previous" href="{{ page.earlier.permalink }}">‹ {{ page.earlier.title }}</a>
    {% endif %}
    {% if page.later %}
    <a class="next" href="{{ page.later.permalink }}">{{ page.later.title }} ›</a>
    {% endif %}
</nav>
{% endif %}
{% endblock footer %}
